@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section id="hero">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/imgs/sharkrealizado-removebg.png" class="img-fluid animated" alt="">
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1 class="display-4">
                    Seja um Shark!
                </h1>
                <h2>
                    Empreendedor do Bem-Estar, Liberte-se com a Atlântica Natural!
                    Cansado de se sentir preso em um ciclo de contas e preocupações?.
                </h2>
                
            </div>
           
        </div>
    </div>
</section>
<section id="faq" class="faq">
    <div class="container overflow-hidden">
        <div class="row text-center">
            <h1 class="display-3 fw-bold text-uppercase text-aqua">Sua Hora de Brilhar Chegou!</h1>
            <div class="heading-line"></div>
            <h3 class="lead blackfont">
                A Atlântica Natural te convida a romper as correntes e conquistar a liberdade que você sempre sonhou!
            </h3>
        </div>
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border">
                    <h4 class="text-aqua">
                        Liberdade Financeira
                    </h4>
                    <p class="blackfont">
                        Lucros de até 60% em vendas diretas;
                        Lucro total de 100% em vendas online com nossa loja virtual;
                        Bônus agressivos de até R$ 150 por indicação.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border">
                    <h4 class="text-aqua">
                        Suporte Personalizado
                    </h4>
                    <p class="blackfont">
                        Treinamentos completos e materiais de apoio;
                        Mentoria e acompanhamento individualizado;
                        Comunidade vibrante de empreendedores
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border">
                    <h4 class="text-aqua">
                        Crescimento profissional e pessoal
                    </h4>
                    <p class="blackfont">
                        Flexibilidade de horários e local de trabalho;
                        Realização de sonhos e objetivos.
                    </p>
                </div>
            </div>
           
        </div>
        <hr class="divider bg-orange" />
    </div>
</section>
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Seja dono do seu própio propio negocio</h2>
            <p></p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 icon-box">
                <h4 class="title"><a href="">Tenha sua propia loja virtual</a></h4>
                <p class="description">Tenha uma loja virtual sem se preocupar com logística de entrega e lucre até 100% com vendas diretas</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <h4 class="title"><a href="">Ganhe trazendo seus amigos</a></h4>
                <p class="description">ganhe trazendo seus amigos, ganhe a partir de 150 reais por indicação incentivando seus amigos a mudarem de vida e libertando pessoas do ciclo de contas além de ajuda-los a realizar seus sonhos</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <h4 class="title"><a href="">Realize seus sonhos</a></h4>
                <p class="description">Viagens que um dia você jugou impossível, estabilidade financeira grandes chances de ter uma boa aposentadoria e da uma melhor qualidade de vida para sua família e passar mais tempos com eles</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <h4 class="title"><a href="">11 Formas ganho</a></h4>
                <p class="description">11 formas de você ganhar, desde vendas diretas, inúmeros bônus para te incentivar</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <h4 class="title"><a href="">Treinamento personalizado</a></h4>
                <p class="description">Te capacitamos em todo processo para você conseguir ativar o seu máximo potencial, e ter grandes resultados</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <h4 class="title"><a href="">Diversas linhas de produtos naturais</a></h4>
                <p class="description">Diversos produtos naturais para você trabalhar, como cosméticos ozonizado, suplementos, óleos essenciais óleos ozonizados  entre outros</p>
            </div>
        </div>

    </div>
</section>
<hr class="divider bg-orange" />

<!-- End Services Section -->
<section id="why-us" class="why-us text-white">

    <div class="row pt-2 pb-2 mt-0 mb-3">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
                <div class="services__content">
                    <h3 class="text-aqua">Um pouco sobre nossa missão<strong>Ajudar a transformar vidas de pessoas</strong></h3>
                    <p class="blackfont">Nossos valores estão focados em ajudar nossos parceiros de negócios a resgatar seus sonhos, acreditamos que uma rede de pessoas que se ajudam é a maior chave para sucesso, por isso resolvemos montar este modelo de negócio para aquelas pessoas que estão cansadas de viver na mediana e optaram por mudar de vida. </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-end hero-img" data-aos="zoom-in" data-aos-delay="300">
                <div class="services__pic">
                    <img src="/imgs/9.jpg" alt="developer" class="img-fluid animated">
                </div>
            </div>
        </div>
        <hr class="divider bg-orange" />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-start">
                <div class="services__pic">
                    <img src="/imgs/17.jpg" alt="ilustração Automatização" class="img-fluid animated">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
                <div class="services__content">
                    <div class="icon d-block fas fa-code"></div>
                    <h3 class="text-aqua">Veja como é fácil você ganhar</h3>
                    <p class="blackfont">
                        Uma das muitas formas de como é fácil você lucrar com a gente, o sucesso é inevitável caso você queira fazer parte da maior rede de lojas que cresce no Brasil e o melhor, com um investimento que cabe no seu bolso
                    </p>
                </div>
            </div>
        </div>
        <hr class="divider bg-orange" />
    </div>
</section>
<hr class="divider bg-orange" />

<section id="contato" class="whatsapp text-center">
    <div class="container">
        <h1 class="display-3 fw-bold text-uppercase text-aqua">
            FAÇA PARTE DO 1% QUE DECIDIU MUDAR DE VIDA
        </h1>
        <div class="heading-line"></div>
        <p class="lh-lg blackfont">
            Comece agora a mudar de vida!
        </p>
        <a href="https://cadastro.atlanticanatural.com.br/luzalex" class="btn btn-success" target="_blank">
            Cadastre-Se Agora mesmo
        </a>
  
    </div>
    <div class="container mt-4">
        <div class="row blackfont">
            <div class="col-12 col-lg-6 gradient shadow p-3">
                <div class="cta-info w-100">
                    <h4 class="display-4 fw-bold">
                        Mas atenção!
                    </h4>
                    <h3 class="display-3--brief">
                        Esta oferta é por tempo limitado. Não perca a chance de transformar sua vida!
                    </h3>
                    <h1>
                        Junte-se a nós e descubra:
                    </h1>
                    <ul class="cta-info__list">
                        <li>
                            Uma variedade de produtos naturais de alta qualidade
                        </li>
                        <li>
                            Uma marca forte e consolidada no mercado
                        </li>
                        <li>
                            Um plano de negócios sólido e comprovado.
                        </li>

                        <li>
                            A Atlântica Natural é a chave para a vida que você sempre quis!
                        </li>
                        <li>
                            Não espere mais! O futuro está esperando por você.
                        </li>
                        <li>
                            Inscreva-se Agora e Transforme sua Vida!
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Adicionando uma segunda coluna -->
            <div class="col-12 col-lg-6 gradient shadow p-3">
                <img src="~/imgs/sharksucess.svg" alt="Banner" class="img-fluid">

            </div>
        </div>
    </div>
</section>